<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giaodienandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Lab04.Lab04Activity"
            android:label="@string/title_activity_lab03" >
        </activity>
        <activity
            android:name="com.aboutme.Aboutme_Activity"
            android:label="@string/title_activity_aboutme_" >
        </activity>
        <activity
            android:name="com.Lab05.Lab05_Activity"
            android:label="@string/title_activity_lab05_" >
        </activity>
        <activity
            android:name="com.Lab01.Lab01_Activity"
            android:label="@string/title_activity_lab01_" >
        </activity>
        <activity
            android:name="com.Lab02.Lab02_Activity"
            android:label="@string/title_activity_lab02_" >
        </activity>
        <activity
            android:name="com.Lab03.Lab03_Activity"
            android:label="@string/title_activity_lab03_" >
        </activity>
        <activity
            android:name="com.Lab05.Lab05_Activity"
            android:label="@string/title_activity_lab06_" >
        </activity>
        <activity
            android:name="com.Lab07.Lab07_Activity"
            android:label="@string/title_activity_lab07_" >
        </activity>
        <activity
            android:name="com.Lab08.Lab08_Activity"
            android:label="@string/title_activity_lab08_" >
        </activity>
        <activity android:name="com.Lab05.About_App" >
        </activity>
        <activity
            android:name="com.Lab06.Hien_KQ"
            android:label="@string/title_activity_hien__kq" >
        </activity>
        <activity
            android:name="com.Lab08.Notifi"
            android:label="@string/title_activity_notifi" >
        </activity>
    </application>

</manifest>
